<!-- General Report -->
{% if messages %}
<div class=" w-full flex justify-center">
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-close mb-5 w-1/3 sm:w-full">
    <button class="alert-btn-close">
        <i class="fad fa-times"></i>
    </button>

    <span>{{ message }}</span>

</div>
{% endfor %}
</div>
{% endif %}
<div class="grid grid-cols-4 gap-6 xl:grid-cols-1">

    <!-- card -->
    <a href="#" class="report-card">
      <div class="card">
        <div class="card-body flex flex-col">
          <!-- top -->
          <div class="flex flex-row justify-between items-center">
            <div class="h6 text-indigo-700 fad fa-user-graduate"></div>
            <span class="rounded-full text-white badge bg-teal-400 text-xs">
              12%
              <i class="fal fa-chevron-up ml-1"></i>
            </span>
          </div>
          <!-- end top -->
  
          <!-- bottom -->
          <div class="mt-8">
            <h1 class="h5 num-4">{{ all_course_regs|length }}</h1>
            <p>Course{% if not all_course_regs|length == 1 %}s{%endif%}</p>
          </div>
          <!-- end bottom -->
        </div>
      </div>
      <div
        class="footer bg-white p-1 mx-4 border border-t-0 rounded rounded-t-none"
      ></div>
    </a>
    <!-- end card -->
  
    <!-- card -->
    <a href="#" class="report-card">
      <div class="card">
        <div class="card-body flex flex-col">
          <!-- top -->
          <div class="flex flex-row justify-between items-center">
            <div class="h6 text-red-700 fad fa-book"></div>
            <span class="rounded-full text-white badge bg-red-400 text-xs">
              0%
              <i class="fal fa-chevron-down ml-1"></i>
            </span>
          </div>
          <!-- end top -->
  
          <!-- bottom -->
          <div class="mt-8">
            <h1 class="h5 num-4">{{ courses|length}}</h1>
            <p>Carryover{% if not carryovers|length == 1 %}s{%endif%}</p>
          </div>
          <!-- end bottom -->
        </div>
      </div>
      <div
        class="footer bg-white p-1 mx-4 border border-t-0 rounded rounded-t-none"
      ></div>
    </a>
    <!-- end card -->
  
</div>
  <!-- End General Report -->

  <!-- start numbers -->
<div class="grid grid-cols-5 gap-6 xl:grid-cols-2">
    <!-- card -->
    <div class="card mt-6">
      <div class="card-body flex items-center">
        <div class="px-2 py-1 rounded bg-gray-600 text-white mr-1">
          <i class="fad fa-box"></i>
        </div>
  
        <div class="flex flex-col">
          <h4 class="flex justify-between font-semibold text-xs">
            <span>{{ all_course_regs|length }}</span> 
            reg{% if all_course_regs|length != 1 %}s{%endif%}
          </h4>
          <p class="text-xs">Total</p>
        </div>
      </div>
    </div>
    <!-- end card -->
    <!-- card -->
    <div class="card mt-6">
      <div class="card-body flex items-center">
        <div class="px-2 py-1 rounded bg-green-600 text-white mr-1">
          <i class="fad fa-thumbs-up"></i>
        </div>
  
        <div class="flex flex-col">
          <h4 class="font-semibold text-xs">
            <span>{{ approved_course_regs|length }}</span> 
            reg{% if approved_course_regs|length != 1 %}s{%endif%}
          </h4>
          <p class="text-xs"> Approved</p>
        </div>
      </div>
    </div>
    <!-- end card -->
  
    <!-- card -->
    <div class="card mt-6 xl:mt-1">
      <div class="card-body flex items-center">
        <div class="px-2 py-1 rounded bg-yellow-600 text-white mr-1">
          <i class="fad fa-spinner"></i>
        </div>
  
        <div class="flex flex-col">
          <h4 class="font-semibold text-xs">
            <span>{{ pending_course_regs|length }}</span> 
            reg{% if pending_course_regs|length != 1 %}s{%endif%}
          </h4>
          <p class="text-xs">pending</p>
        </div>
      </div>
    </div>
    <!-- end card -->
  
    <!-- card -->
    <div class="card mt-6 xl:mt-1">
      <div class="card-body flex items-center">
        <div class="px-2 py-1 rounded bg-red-600 text-white mr-1">
          <i class="fad fa-ban"></i>
        </div>
  
        <div class="flex flex-col">
          <h4 class="font-semibold text-xs">
            <span class="num-2">{{ unappr_course_regs|length }}</span>
            reg{% if unappr_course_regs|length != 1 %}s{%endif%}
          </h4>
          <p class="text-xs">rejected</p>
        </div>
      </div>
    </div>
    <!-- end card -->
  </div>
  <!-- end nmbers -->
  