{% load static %}
<div class="w-full">

  <h2 class="h5 text-center">All Courses</h2>
</div>
<div class="table w-full my-4">
  <table class="w-full border">
    <thead>
        <tr class="bg-gray-50 border-b text-sm font-thin text-gray-500">
            <th class="p- border-r  text-sm font-thin text-gray-500">
                <div class="flex items-center justify-center">
                    ID
                </div>
            </th>
            <th class="p-2 border-r  text-sm font-thin text-gray-500">
                <div class="flex items-center justify-center">
                    Course Title

                </div>
            </th>
            <th class="p-2 border-r  text-sm font-thin text-gray-500">
                <div class="flex items-center justify-center">
                    Course Code

                </div>
            </th>
            <th class="p-2 border-r  text-sm font-thin text-gray-500">
                <div class="flex items-center justify-center">
                   Course Units

                </div>
            </th>
            <th class="p-2 border-r  text-sm font-thin text-gray-500">
                <div class="flex items-center justify-center">
                   Lecturer

                </div>
            </th>
            <th class="p-2 border-r  text-sm font-thin text-gray-500">
                <div class="flex items-center justify-center">
                   Action

                </div>
            </th>
        </tr>
    </thead>
    <tbody>
      {% for course in courses %}
      <tr class="bg-gray-100 text-center border-b text-sm text-gray-600">
          
        <td class="p-2 border-r">{{ forloop.counter }}</td>
        <td class="p-2 border-r">{{ course.course_title }}</td>
        <td class="p-2 border-r">{{ course.course_code }}</td>
        <td class="p-2 border-r">{{ course.course_units }}</td>
        <td class="p-2 border-r">{{ course.lecturer.name }}</td>
        <td class="p-2 border-r"><a class="underline"
          href="{% url 'adviser_course' course.id  %}">View data</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
</div>
