{% load tailwind_filters %}
{% load static %}
<!-- filter form -->
<div class="grid grid-cols-3 lg:grid-cols-1 gap-5">
  <a href="{% url 'init_course_reg' %}" class=btn-indigo> Initialize Course-Registration</a>
</div>
<div class="grid grid-cols-3 lg:grid-cols-1 gap-5">
  <form action="" method="post">
    {% csrf_token %} {{form|crispy}}
    <button class="btn-indigo">Submit</button>
  </form>
</div>

<!-- end filter form -->
<br />


<!-- students-details -->

<div class="col-span-6 card flex flex-col">
    <div class="px-3 border-b">
      <form action="" class="flex">
        <input class="p-3 flex-1" type="text" placeholder="search" />
        <button type="submit" class="p-3">
          <i class="fad fa-search"></i>
        </button>
      </form>
    </div>
  
    <div class="flex-1 flex flex-col">
      {% for student in students %}
      <a
        href="{% url 'adviser_course_reg_one_student' student.id %}"
        class="
          flex
          items-center
          shadow-xs
          transition-all
          duration-300
          ease-in-out
          p-5
          hover:shadow-md
        "
      >
        <div class="w-10 h-10 overflow-hidden rounded-md">
          <img
            class="img-responsive"
            src="{% static 'coursesapp/images/user.svg' %}"
            alt=""
          />
        </div>
        <h1 class="ml-3">{{student.name}}</h1>
        <p class="ml-6 flex-1 text-xs">{{student.matric_no}}</p>
        <p class="font-bold text-gray-900">05:09 AM</p>
      </a>
      {% empty %}
      <div
        class="
          flex
          items-center
          shadow-xs
          transition-all
          duration-300
          ease-in-out
          p-5
          hover:shadow-md
        "
      >
        <div class="w-10 h-10 overflow-hidden rounded-md">
          <img
            class="img-responsive"
            src="{% static 'coursesapp/images/user.svg' %}"
            alt=""
          />
        </div>
        <h1 class="ml-3">Null</h1>
        <p class="ml-6 flex-1 text-xs">Null</p>
        <p class="font-bold text-gray-900">Null</p>
      </div>
  
      {% endfor %}
      <!-- message -->
  
      <!-- message -->
    </div>
  </div