{% load tailwind_filters %}


<div class="w-full">
  <a href="{% url 'adviser_student_class' %}" class="underline">
    Back
  </a>
  <h2 class="h7 my-2 text-center font-semiboldk"> Editing {{student_class.get_level_display}}
    {{student_class.department.department_name}} data</h2>
</div>

  <!-- end header -->

  <div class="w-full flex justify-center">
  <div class="card w-1/2 sm:w-full mt-4">
    <div class="card-body">
      <form action="{% url 'adviser_edit_student_class' student_class.id %}" method="post" class="flex sm:flex-col sm:items-start items-center justify-between sm:justify-stretch">
        {% csrf_token %} {{form|crispy}}
        <button type="submit" class="btn-indigo h-10 mt-4 sm:mt-0 sm:w-full">Edit</button>
      </form>
    </div>
  </div>
  
  </div>
