<div class="card-body grid grid-cols-6 lg:grid-cols-1">
  <a
    href="{% url 'adviser_students_in_level' '1L'%}"
    class="btn-bs-primary mr-6 lg:mr-0 lg:mb-6"
    >100 Level</a
  >
  <a
    href="{% url 'adviser_students_in_level' '2L'%}"
    class="btn-bs-primary mr-6 lg:mr-0 lg:mb-6"
    >200 Level</a
  >
  <a
    href="{% url 'adviser_students_in_level' '3L'%}"
    class="btn-bs-primary mr-6 lg:mr-0 lg:mb-6"
    >300 Level</a
  >
  <a
    href="{% url 'adviser_students_in_level' '4L'%}"
    class="btn-bs-primary mr-6 lg:mr-0 lg:mb-6"
    >400 Level</a
  >
  <a
    href="{% url 'adviser_students_in_level' '5L'%}"
    class="btn-bs-primary mr-6 lg:mr-0 lg:mb-6"
    >500 Level</a
  >
</div>
