{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap"
      rel="stylesheet"
    />

    <link
      rel="stylesheet"
      href="{% static 'coursesapp/fonts/icomoon/style.css' %}"
    />

    <link
      rel="stylesheet"
      href="{% static 'coursesapp/css/owl.carousel.min.css' %}"
    />

    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="{% static 'coursesapp/css/bootstrap.min.css' %}"
    />

    <!-- Style -->
    <link rel="stylesheet" href="{% static 'coursesapp/css/style.css' %}" />

    <title>Login</title>
  </head>
  <body>
    {% block content %} {% endblock %}

    <script src="{% static 'coursesapp/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'coursesapp/js/popper.min.js' %}"></script>
    <script src="{% static 'coursesapp/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'coursesapp/js/main.js' %}"></script>
  </body>
</html>

<!-- <link
      rel="stylesheet"
      href="{% static 'coursesioapp/styles/stylesheet.css' %}"
    /> -->
